<footer class="bg-primary py-4">
  <div class="container-fluid container-md d-flex">
    <div class="d-flex align-items-center">
      <a class="d-inline-block" href="index.html">
        <img src="/assets/images/dPerfume-white.png" alt="D'Perfume 香水電商網站">
      </a>
      <p class="text-white font-size-sm ml-4">© 2020. All Rights Reserved.</p>
    </div>
    <ul class="nav footer-nav ml-auto d-none d-md-flex"> 
      <li class="nav-item">
        <a href="products.html" class="h5 nav-link text-white">Product</a>
      </li>
      <li class="nav-item">
        <a href="#" class="h5 nav-link text-white">Blog</a>
      </li>
      <li class="nav-item">
        <a href="#" class="h5 nav-link text-white">Contact</a>
      </li>
    </ul>
  </div>
</footer>